<font color="FFFFFF">
<%= form_for(@developer) do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
	<div class="field">
		<tr>
			<td> <%= f.label :name %> </td>
			<td> <%= f.text_field :name %> </td>
		</tr>
	</div>
</table><br /><hr /><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</font>
