<font color="FFFFFF">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @developer.name %>
</p>

<%= link_to 'Back to main page', root_path %>
<%= link_to 'Edit developer team', edit_developer_path(@developer) %> |
<%= link_to 'Developer team list', developers_path %>
</font>
