<font color="FFFFFF">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @platform.name %>
</p>

<p>
  <b>Company:</b>
  <%= @platform.company %>
</p>

<%= link_to 'Back to main page', root_path %> |
<%= link_to 'Add platform', new_platform_path %> |
<%= link_to 'Edit platform', edit_platform_path(@platform) %> |
<%= link_to 'Back to platform page', platforms_path %>
</font>
