<font color="FFFFFF">
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
	<div class="field">
		<tr>
			<td> <%= f.label :content %> </td>
			<td> <%= f.text_field :content %> </td>
		</tr>
	</div>
	<div class="field">
		<tr>
			<td> <%= f.label :user_id %> </td>
			<td> <%= f.text_field :user_id %> </td>
		</tr>
 	</div>
</table><br /><hr /><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</font>
