<font color="FFFFFF">
<br />
<center><h1> Feedback </h1></center>

<br /><hr /><br />

<table>
  <tr>
    <th>Content</th>
    <!--
    <th> | </th>
    <th>( User )</th>
    -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.content %></td>
    <!--
    <td> | </td>
    <td>( <%= comment.user_id %> )</td>
    -->
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</table><br /><hr />
<% end %>

<%= link_to 'Back to main page', root_path %>
<%= link_to 'Add Comment', new_comment_path %>
</font>
