<font color="FFFFFF">
<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<%= link_to 'Back to main page', root_path %>
<%= link_to 'Edit comment', edit_comment_path(@comment) %> |
<%= link_to 'Back to feedback page', comments_path %>
</font>