<font color="FFFFFF">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Back to main page', root_path %>
<%= link_to 'Edit user', edit_user_path(@user) %> |
<%= link_to 'Back to user list', users_path %>
</font>
