<font color="FFFFFF">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @publisher.name %>
</p>

<%= link_to 'Back to main page', root_path %>
<%= link_to 'Edit publisher', edit_publisher_path(@publisher) %> |
<%= link_to 'Back to publisher list', publishers_path %>
</font>
