<font color="FFFFFF">
<br />
<center><h1> Game Rating </h1></center>

<br /><hr /><br />

<table>
  <tr>
  	<th>User</th>
  	<th> | </th>
  	<th>Game</th>
  	<td> | </td>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
  	<td><%= rating.user_id %></td>
  	<td> | </td>
  	<td><%= rating.game_id %></td>
  	<td> | </td>
    <td><%= rating.value %></td>
    <td><%= link_to 'Show', rating %></td>
    <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
    <td><%= link_to 'Destroy', rating, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back to main page', root_path %> | 
<%= link_to 'Add rating to game', new_rating_path %>
</font>
