<font color="FFFFFF">
<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
	<div class="field">
		<tr>
			<td> <%= f.label :title %> </td>
			<td> <%= f.text_field :title %> </td>
		</tr>
	</div>
	
	<div class="field">
		<tr>
			<td> <%= f.label :developer_id %> </td>
			<td> <%= f.text_field :developer_id %> </td>
		</tr>
 	</div>
 	<div class="field">
		<tr>
			<td> <%= f.label :publisher_id %> </td>
			<td> <%= f.text_field :publisher_id %> </td>
		</tr>
 	</div>
 	<div class="field">
		<tr>
			<td> <%= f.label :platform_id %> </td>
			<td> <%= f.text_field :platform_id %> </td>
		</tr>
 	</div>
</table><br /><hr /><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</font>
