<font color="FFFFFF">
<br />
<center><h1> Game List </h1></center>

<br /><hr /><br />

<table>
  <tr>
    <th> [ Title] </th>
    <th> [ Developer ] </th>
    <th> [ Publisher] </th>
    <th> [ Platform ] </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.title %></td>
    <td><%= game.developer_id %></td>
    <td><%= game.publisher_id %></td>
    <td><%= game.platform_id %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back to main page', root_path %> |
<%= link_to 'Add game', new_game_path %>
</font>
