<font color="FFFFFF">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Developer:</b>
  <%= @game.developer_id %>
</p>

<p>
  <b>Publisher:</b>
  <%= @game.publisher_id %>
</p>

<p>
  <b>Platform:</b>
  <%= @game.platform_id %>
</p>

<%= link_to 'Back to main page', root_path %> |
<%= link_to 'Edit game', edit_game_path(@game) %> |
<%= link_to 'Back to game list', games_path %>
</font>
